.navbar-nav .nav-link {
    color: #3b2f2f;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 0;
}

.hero h1 {
    color: #ffebd4;
}
.hero .btn {
    color: #3b2f2f;
}


.handlee-font {
    font-family: 'Handlee', cursive;
}

.footer {
    margin-top: auto;
    background-color: #6F4E37;
    color: #FFEBD4;
}
i {
    color: #FFEBD4;
}